.main-container{
    background-color: #f7f7f7;
    border-radius: 5px;
    text-align: center;
    width: 50%;
    height: 400px;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 5px 20px 0px #00000052;
}

.brokenlines-container{
    border: dashed 3px #c5c5c5;
    border-radius: 5px;
    width: 90%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.image-container{
    width: 500px;
    height: auto;
    background-repeat: no-repeat;
    background-image: url("https://www.byrdie.com/thmb/pr2U7ghfvv3Sz8zJCHWFLT2K55E=/735x0/cdn.cliqueinc.com__cache__posts__274058__face-masks-for-pores-274058-1543791152268-main.700x0c-270964ab60624c5ca853057c0c151091-d3174bb99f944fc492f874393002bab7.jpg");
}

.brokenlines-container a{
    color: #46b1f8;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}