.main-container{
    background-color: #f7f7f7;
    border-radius: 5px;
    text-align: center;
    width: 50%;
    height: 400px;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 5px 20px 0px #00000052;
}

.brokenlines-container{
    border: dashed 3px #c5c5c5;
    border-radius: 5px;
    width: 90%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brokenlines-container a{
    color: #46b1f8;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

.brokenlines-container a:hover{
    color: #a9d9f8;
}

.faces{
    z-index: 1;
    left: 5rem;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 650px;
    height: auto;
}

.bounding-box{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 0 4px #46b1f8 inset;
    z-index: 1;
}

.vanish{
    display: none;
}